.array-container {
    position: absolute;
    left: 100px;
    /* top: 100px; */
  }
  
  .array-bar {
    width: 6px;
    display: inline-block;
    margin: 0 1px;
  }

  button{
  background-color: #4F25F7; 
  margin:"3px";
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
  }

 