h1,h2,p{
  font-family: 'Roboto', sans-serif;  
}

h2 {
  margin-top: 20px;
  font-size: 48px;
}
span {
  font-weight: bold;
}

#team {
  margin: 20px;
  border:2px solid;
  border-style: hidden;
  padding: 10px;
  padding-top: 15px;
  height: 75px;
  text-align: center;
  justify-content: center;    
  width: 35%;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.649);
  background-color: #4F25F7;
  color: rgb(238, 238, 238);
  border-radius: 30px;
}

#team-div {
  justify-content: center;
  display: flex;
}

#elian {
  padding-top: 20px;
  margin: 20px;
  border:2px solid;
  border-color: #fff;
  height: 300px;    
  box-shadow: 0 0 40px #000;
  background-color: #e8f5fd85;
  border-radius: 30px;
}

#jon {
  padding-top: 20px;
  margin: 20px;
  border:2px solid;
  border-color: #fff;
  height: 300px;    
  box-shadow: 0 0 40px #000;
  background-color: #e8f5fd85;
  border-radius: 30px;
}

.description{
  text-align: left;
  overflow: hidden;
  padding-left: 20px;
  line-height: 35px;
  font-size: 28px;
  margin-right: 3px;
}


section{
  color:rgb(26, 26, 26);
  align-items: center;
  text-align: center;
}

section img{
  float: left;
  width: 200px;
  height: 200px;
  background-color: #fff;
  margin-left: 20px;
  margin-top: 0;
  box-shadow: -10px 30px 30px rgba(0, 0, 0, 0.401);
  object-fit: cover;
}